.footer {
  padding: rem(20) 0;
  background: $blue-dark;

  // .footer__container
  &__container {
    display: flex;
    align-items: center;

    @include mediaMx(510) {
      flex-direction: column;
      align-items: flex-start;
    }
  }
}