.form-rent {
  // .form-rent__grid
  &__grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: rem(20);

    @include mediaMx(560) {
      grid-template-columns: 1fr;
    }
  }

  // .form-rent__field
  &__field {
    display: flex;
    flex-direction: column;
    gap: rem(8);

    &._error {
      input {
        box-shadow: 0 0 1px 1px $red-error;
      }

      .message-error {
        display: block;
      }
    }

    label {
      font-size: rem(16);
      line-height: prc(19, 16);
      font-weight: 500;

      span {
        color: $red-error;
      }
    }

    input {
      padding: rem(12) rem(15);
      border-radius: rem(8);
      background-color: $black-5;
      transition: $default-trans;
      color: $black-80;
      @include hidePlaceholder;

      &::-webkit-outer-spin-button,
      &::-webkit-inner-spin-button {
        -webkit-appearance: none;
      }

      &::placeholder {
        color: $black-25;
      }
    }

    input[type='number'] {
      -moz-appearance: textfield;
    }
  }

  // .form-rent__set
  &__set {
    display: flex;
    gap: rem(30);
    margin-top: rem(50);

    @include mediaMx(730) {
      flex-direction: column;
    }
  }

  // .form-rent__col-image
  &__col-image {
    flex: 0 0 rem(120);
    width: rem(120);
  }

  // .form-rent__image-ibg
  &__image-ibg {
    width: 100%;
    height: rem(145);
    background-color: $black-5;
    border-radius: rem(8);
    border: 1px solid $black-5;
    overflow: hidden;

    &::after {
      content: '';
      position: absolute;
      display: block;
      background: url(../images/labels/aqua-profi.svg) 0 0 / contain no-repeat;
      width: 1.5rem;
      top: 0.5rem;
      left: 0.5rem;
      z-index: 4;
      height: 0.75rem;
    }
  }

  // .form-rent__col-settings
  &__col-setting {
    flex: 1 1 calc(100% - rem(120));
  }

  // .form-rent__type-name
  &__type-name {
    font-size: rem(18);
    line-height: prc(21, 18);
    @extend %f-rubik;
    margin-bottom: rem(20);
  }

  // .form-rent__add
  &__add {
    margin-top: rem(20);
    display: flex;
    align-items: center;
    gap: rem(10);
    padding: rem(10) rem(15);
    background-color: transparent;
    border-radius: rem(8);
    color: $blue-100;
    white-space: nowrap;
    transition: $default-trans;

    &:hover {
      background-color: rgba(#000, 3%);
    }

    &:active {
      background-color: rgba(#000, 10%);
    }

    &::before {
      content: '';
      background-image: url('./../images/icons/plus.svg');
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
      width: rem(10);
      height: rem(10);
    }
  }

  // .form-rent__bottom
  &__bottom {
    margin-top: rem(50);
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: rem(20);

    @include mediaMx(720) {
      margin-top: rem(36);
      flex-direction: column;
      gap: rem(10);
    }

    div {
      @extend %f-rubik;
      font-size: rem(21);
      line-height: prc(28, 24);
    }
  }

  // .form-rent__submit
  &__submit {
    flex: 0 1 rem(296);

    @include mediaMx(720) {
      flex: unset;
      width: 100%;
      max-width: rem(300);
    }

    &:disabled {
      background-color: $blue-disable;
      cursor: not-allowed;
    }
  }
}

.message-error {
  display: none;
  color: $red-error;
}

.kit-settings {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr rem(44);
  gap: rem(20);

  &:not(:last-child) {
    margin-bottom: rem(20);
  }

  @include mediaMx(580) {
    grid-template-columns: 1fr rem(44);
  }

  // .kit-settings__label
  &__label {
    display: block;
    color: $black-80;
    font-size: rem(16);
    line-height: prc(19, 16);
    margin-bottom: rem(8);
  }

  @include mediaMx(580) {
    &__grow,
    &__size,
    &__amount {
      grid-column: 1 / 2;
    }
  }

  // .kit-settings__amount-control
  &__amount-control {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: rem(44);
    border-radius: rem(8);
    background-color: $black-5;

    button {
      @extend %flex-center;
      flex: 0 0 rem(44);
      height: 100%;
      border-radius: rem(8);
      background-color: $black-5;
      transition: $default-trans;
      @extend %hover-active-bg;

      &.minus,
      &.plus {
        &::after {
          content: '';
          width: rem(14);
          height: rem(14);
          background-repeat: no-repeat;
          background-size: contain;
          background-position: center;
        }
      }

      &.minus {
        &::after {
          background-image: url('./../images/icons/minus.svg');
        }
      }

      &.plus {
        &::after {
          background-image: url('./../images/icons/plus-black.svg');
        }
      }
    }

    input {
      width: 100%;
      height: 100%;
      text-align: center;
      font-size: rem(18);
      background-color: transparent;
      @include hidePlaceholder;

      &::-webkit-outer-spin-button,
      &::-webkit-inner-spin-button {
        -webkit-appearance: none;
      }
    }

    input[type='number'] {
      -moz-appearance: textfield;
    }
  }

  // .kit-settings__remove
  &__remove {
    align-self: end;

    @include mediaMx(580) {
      grid-column: 2;
      grid-row: 1 / 2;
    }

    button {
      width: rem(44);
      height: rem(44);
      @extend %flex-center;
      border-radius: rem(8);
      background-color: rgba(#000, 3%);
      transition: $default-trans;

      &:hover {
        background-color: $red-error;
      }

      &:active {
        background-color: darken($red-error, 5%);
      }

      &::after {
        content: '';
        width: rem(14);
        height: rem(14);
        background-image: url('./../images/icons/trash.svg');
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
      }
    }
  }
}