.more {
  // .more__breadcrumbs
  &__breadcrumbs {
    &:not(:last-child) {
      margin-bottom: rem(50);
    }
  }

  // .more__title
  &__title {
    text-align: center;

    &:not(:last-child) {
      margin-bottom: rem(30);
    }
  }

  &__image-ibg {
    height: rem(500);

    @media (max-width: em(768)) {
      height: rem(380);
    }

    @media (max-width: em(510)) {
      height: rem(280);
    }
  }

  &__info {
    background-color: #ffffff;
    margin-left: rem(-15);
    margin-right: rem(-15);
  }

  &__list {
    margin: 0 auto;
    max-width: rem(950);
  }

  &__item {
    list-style: decimal;
    font-size: rem(24);
    line-height: prc(28, 24);

    @media (max-width: em(510)) {
      font-size: rem(16);
      line-height: prc(19, 16);
    }

    &:not(:last-child) {
      margin-bottom: rem(30);
    }

    span {
      font-family: 'Rubik';
      font-style: normal;
      font-weight: 500;
      color: $black-80;
    }
  }

  // .more__text
  &__text {
    background: #ffffff;

    @media (min-width: em(510)) {
      padding: rem(40) rem(50) rem(40) rem(50);
    }

    @media (max-width: em(510)) {
      padding: rem(20);
    }

    @media (min-width: em(510)) {
      border-radius: rem(8);
    }

    p {
      margin: 0 auto;
      max-width: rem(1010);
      font-size: rem(24);
      line-height: prc(29, 24);
      color: $black-80;

      @media (max-width: em(510)) {
        $font-size: 16;

        font-size: rem($font-size);
        line-height: prc(19, 16);
      }

      &:not(:last-child) {
        margin-bottom: rem(30);

        @media (max-width: em(510)) {
          margin-bottom: rem(20);
        }
      }
    }
  }
}