.overalls {
  &__breadcrumbs {
    &:not(:last-child) {
      margin-bottom: rem(50);
    }
  }

  // .overalls__title
  &__title {
    text-align: center;

    &:not(:last-child) {
      margin-bottom: rem(30);
    }
  }
}