.popup {
  position: fixed;
  padding: rem(30) rem(10);
  visibility: hidden;
  transition: visibility 0.8s ease;
  pointer-events: none;
  inset: 0;
  overflow: auto;

  @include mediaMx(510) {
    padding: 0;
  }

  &__wrapper {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 100%;

    @include mediaMx(510) {
      align-items: unset;
      justify-content: unset;
      flex-direction: unset;
    }
  }

  &__content {
    position: relative;
    border-radius: rem(20);
    padding: rem(30) rem(50);
    width: 100%;
    max-width: rem(690);
    background-color: $white-100;
    visibility: hidden;
    transform: scale(0);
    transition: transform 0.3s ease, visibility 0.3s ease;

    @include mediaMx(510) {
      padding: rem(30) rem(20);
      border-radius: 0;
    }

    .lock & {
      visibility: visible;
    }
  }

  // .popup__close
  &__close {
    position: absolute;
    top: rem(20);
    right: rem(20);
    width: rem(40);
    height: rem(40);
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    border-radius: rem(8);
    transition: $default-trans;

    &:hover {
      background: rgba(#000, 3%);
    }

    &:active {
      background: rgba(#000, 10%);
    }
  }

  // .popup__title
  &__title {
    font-family: 'Rubik', sans-serif;
    font-size: rem(24);
    font-weight: 500;
    line-height: prc(28, 24);
    margin-bottom: rem(15);
    text-align: center;
  }

  &_show {
    z-index: 150;
    pointer-events: auto;
    overflow: auto;
    visibility: visible;

    .popup__content {
      visibility: visible;
      transform: scale(1);
    }
  }
}

.form-popup {
  display: grid;
  gap: rem(20);

  // .form-popup__column
  &__column {
    display: grid;
    gap: rem(10);
    @media (min-width: em(519)) {
      flex: 0 1 calc(50% - rem(10));

      &_first {
        max-width: rem(285);
      }
    }

    @media (max-width: em(519)) {
      flex-grow: 1;
    }
  }
  // .form-popup__label
  &__label {
    font-weight: 500;
    line-height: prc(19, 16);
    color: $black-80;

    span {
      color: $red-error;
    }
  }
  // .form-popup__input
  &__input {
    background: $black-5;
    border-radius: rem(8);
    padding: rem(11) rem(15);

    &::placeholder {
      font-size: rem(18);
      line-height: prc(22, 18);
      color: $black-25;
    }
  }
  &__field {
    display: flex;
    flex-wrap: wrap;
    gap: rem(20);
  }

  // .form-popup__message
  &__message {
  }

  // .form-popup__button
  &__button {
    @media (min-width: em(480)) {
      justify-self: center;
      width: rem(296);
    }

    @media (max-width: em(480)) {
      width: 100%;
    }
  }
}

textarea.form-popup__input {
  height: rem(155);
  width: 100%;
  resize: none;
}