.popup {
  padding: rem(30) rem(10);
  @extend %flex-center;

  @include mediaMx(510) {
    padding: 0;
    display: block;
  }

  &._is-open {
    .popup__content {
      transform: translateY(0);
    }
  }

  // .popup__content
  &__content {
    position: relative;
    padding: rem(30) rem(50);
    width: 100%;
    max-width: rem(690);
    background-color: $white-100;
    transform: translateY(rem(-200));
    transition: transform 0.2s ease;

    @include mediaMn(510) {
      border-radius: rem(20);
      box-shadow: 0 0 rem(20) rgba(#000, 10%);
    }

    @include mediaMx(510) {
      min-height: 100%;
      padding: rem(30) rem(20);
    }
  }

  // .popup__close
  &__close {
    position: absolute;
    top: rem(20);
    right: rem(20);
    width: rem(40);
    height: rem(40);
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    border-radius: rem(8);
    transition: $default-trans;

    @extend %hover-active-bg;
  }

  // .popup__title
  &__title {
    @extend %f-rubik;
    font-size: rem(24);
    font-weight: 500;
    line-height: prc(28, 24);
    margin-bottom: rem(15);
    text-align: center;
  }

  &_show {
    z-index: 150;
    pointer-events: auto;
    overflow: auto;
    visibility: visible;

    .popup__content {
      visibility: visible;
      transform: scale(1);
    }
  }
}

.form-popup {
  display: grid;
  gap: rem(20);

  // .form-popup__column
  &__column {
    display: grid;
    gap: rem(10);

    span {
      padding-top: rem(8);
      font-size: rem(14);
      line-height: math.div(17, 14);
      color: $red-error;
    }

    @media (min-width: em(519)) {
      flex: 0 1 calc(50% - rem(10));

      // .form-popup__column_first
      &_first {
        max-width: rem(285);
      }
    }

    @media (max-width: em(519)) {
      flex-grow: 1;
    }
  }

  // .form-popup__label
  &__label {
    font-weight: 500;
    line-height: prc(19, 16);
    color: $black-80;

    span {
      color: $red-error;
    }
  }

  // .form-popup__input
  &__input {
    background: $black-5;
    border-radius: rem(8);
    padding: rem(11) rem(15);

    &::placeholder {
      font-size: rem(18);
      line-height: prc(22, 18);
      color: $black-25;
    }
  }

  // .form-popup__field
  &__field {
    display: flex;
    flex-wrap: wrap;
    gap: rem(20);
  }

  // .form-popup__button
  &__button {
    @media (min-width: em(480)) {
      justify-self: center;
      width: rem(296);
    }

    @media (max-width: em(480)) {
      width: 100%;
    }
  }
}

textarea.form-popup__input {
  height: rem(155);
  width: 100%;
  resize: none;
}