.space-y {
  padding: rem(50) 0 rem(70);

  @media (max-width: em(510)) {
    padding-top: rem(30);
  }
}
// ======================================================================================================================================================== //
.breadcrumbs {
  white-space: nowrap;

  // .breadcrumbs__list
  &__list {
    display: flex;
    gap: rem(7);
    overflow-x: auto;
    overflow-y: hidden;
  }

  // .breadcrumbs__item
  &__item {
    display: flex;
    align-items: center;

    &::after {
      content: "/";
      margin-left: rem(7);
      color: $blue-100;
    }
  }

  // .breadcrumbs__link
  &__link {
    font-weight: 500;
    line-height: prc(19, 16);
    color: $blue-100;
  }
}
// ======================================================================================================================================================== //
.title {
  font-family: "Rubik", sans-serif;
  font-weight: 500;
  font-size: rem(36);
  line-height: prc(43, 36);
  text-transform: uppercase;
  color: #333333;

  @include mediaMx(510) {
    font-size: rem(24);
    line-height: prc(28, 24);
  }
}
// ======================================================================================================================================================== //
.advantage {
  display: grid;
  justify-items: center;
  max-width: rem(365);

  // .advantage__icon
  &__icon {
    &:not(:last-child) {
      margin-bottom: rem(10);
    }

    img {
      width: rem(72);
      height: rem(72);
    }
  }

  // .advantage__title
  &__title {
    font-family: "Rubik", sans-serif;
    font-weight: 500;
    font-size: rem(24);
    line-height: prc(28, 24);
    color: $blue-100;
    text-align: center;

    &:not(:last-child) {
      margin-bottom: rem(20);
    }
    
    @media (max-width: em(768)) {
      font-size: rem(18);
      line-height: prc(22, 18);
    }
  }

  // .advantage__text
  &__text {
    text-align: center;
    font-size: rem(18);
    line-height: prc(22, 18);
    color: $black-80;

    @media (max-width: em(768)) {
      font-size: rem(16);
      line-height: prc(19, 16);
    }
  }
}
// ======================================================================================================================================================== //
.complect-item {
  background-color: $white-100;
  text-align: center;
  border-radius: rem(8);
  padding: rem(15);
  display: grid;
  justify-items: center;

  &_more {
    border: rem(5) solid #dee9ef;
    position: relative;
    
    &::after,
    &::before {
      content: "";
      display: block;
      position: absolute;
      background-color: $white-100;
      border: rem(5) solid #dee9ef;
      width: 102%;
      height: 110%;
      border-radius: rem(12);
      z-index: -1;
    }
    &::after {
      top: rem(-15);
      right: rem(-15);
    }
    &::before {
      top: rem(-25);
      right: rem(-25);
    }
  }

  // .complect-item__value
  &__value {
    font-family: "Rubik", sans-serif;
    font-weight: 600;
    font-size: rem(48);
    line-height: prc(57, 48);
    color: #333333;

    .complect-item_more & {
      color: $blue-100;
    }

    &:not(:last-child) {
      margin-bottom: rem(15);
    }
  }

  // .complect-item__where
  &__where {
    font-size: rem(18);
    line-height: prc(22, 18);
    color: #333333;

    .complect-item_more & {
      color: $blue-100;
    }
  }
}
// ======================================================================================================================================================== //
.clothing-card {
  background: $white-100;
  border-radius: rem(8);
  overflow: hidden;
  display: grid;

  // .clothing-card__image-ibg
  &__image-ibg_contain {
    height: rem(290);

    @media (max-width: em(1000)) {
      height: rem(280);
    }
  }

  // .clothing-card__type
  &__type {
    font-family: "Rubik", sans-serif;
    font-weight: 500;
    padding: rem(16) rem(10);
    font-size: rem(24);
    line-height: prc(28, 24);
    text-align: center;
    color: $black-80;
  }
}
// ======================================================================================================================================================== //
.complect-card {
  background: $white-100;
  border-radius: rem(8);
  overflow: hidden;
  display: grid;
  position: relative;

  &:hover {
    .complect-card__type {
      color: $blue-hover;
    }

    .complect-card__image-ibg_contain {
      img {
        transform: scale(1.05);
      }
    }
  }

  // .complect-card__label
  &__label {
    position: absolute;
    top: rem(20);
    z-index: 3;
    left: rem(20);

    @include mediaMx(1000) {
      top: rem(15);
      left: rem(15);

      img {
        width: rem(46);
        height: rem(24);
      }
    }

    @include mediaMx(510) {
      img {
        width: rem(30);
        height: rem(16);
      }
    }
  }

  // .complect-card__image-ibg_contain
  &__image-ibg_contain {
    height: rem(360);
    overflow: hidden;

    img {
      transition: $default-trans;
    }

    @media (max-width: em(1000)) {
      height: rem(280);
    }

    @include mediaMx(480) {
      height: rem(250);
    }

    @include mediaMx(390) {
      height: rem(185);
    }
  }

  // .complect-card__type
  &__type {
    padding: 0 rem(10) rem(40) rem(10);
    font-size: rem(18);
    line-height: prc(22, 18);
    text-align: center;
    color: $black-80;
    transition: $default-trans;

    @include mediaMx(1000) {
      padding-bottom: rem(20);
    }

    @include mediaMx(510) {
      font-size: rem(16);
      line-height: prc(19, 16);
    }

    @include mediaMx(360) {
      padding: rem(4) rem(4) rem(10);
    }
  }
}
// ======================================================================================================================================================== //
.tabs {
  gap: rem(10);
  display: grid;
  grid-template-columns: rem(300) 1fr;

  @include mediaMx(1100) {
    grid-template-columns: rem(230) 1fr;
  }

  @include mediaMx(880) {
    grid-template-columns: 1fr;
  }

  // .tabs__nav
  &__nav {
    display: flex;
    width: 100%;

    @include mediaMn(880) {
      gap: rem(20);
      text-align-last: left;
      background: $white-100;
      flex-direction: column;
      border-radius: rem(8);
      height: fit-content;
      padding: rem(10);
    }

    @include mediaMx(880) {
      gap: rem(10);
      flex-wrap: wrap;

      &:not(:last-child) {
        margin-bottom: rem(30);
      }
    }

    @include mediaMn(520) {
      justify-content: center;
    }
  }

  // .tabs__trigger
  &__trigger {
    $font-size: 18;

    font-size: rem($font-size);
    line-height: prc(22, $font-size);
    transition: $default-trans;

    @include anyHover {
      color: $blue-hover;
    }

    @include mediaMn(880) {
      display: flex;
      align-items: center;
      gap: rem(10);
    }

    @include mediaMx(880) {
      background: $white-100;
      border-radius: rem(8);
      padding: rem(5) rem(10);
      border: rem(1.5) solid transparent;
    }

    &.active {
      border-color: $blue-100;
      color: $blue-100;

      span {
        background: $blue-100;
        border-color: $blue-100;

        &::after {
          opacity: 1;
        }
      }
    }

    span {
      display: none;

      @include mediaMn(880) {
        position: relative;
        display: block;
        flex: 0 0 rem(16);
        height: rem(16);
        border-radius: rem(2);
        border: rem(1) solid $black-80;
        background: transparent;
        transition: $default-trans;

        &::after {
          content: "";
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          width: rem(12);
          height: rem(12);
          background-image: url("./../images/checked.png");
          background-repeat: no-repeat;
          background-position: center;
          opacity: 0;
          transition: $default-trans;
        }
      }
    }
  }

  // .tabs__panel
  &__panel {
    display: none;
    grid-template-columns: repeat(3, 1fr);
    gap: rem(10);
    animation: fade-up-big 0.4s forwards;

    @include mediaMx(640) {
      gap: rem(6);
      grid-template-columns: repeat(2, 1fr);
    }

    &.active {
      display: grid;
    }
  }
}
// ======================================================================================================================================================== //
.contact {
  display: flex;
  height: fit-content;
  align-items: center;
  gap: rem(20);

  // .contact__icon
  &__icon {
    width: rem(32);
    display: flex;
    justify-content: center;
    align-items: center;
    height: rem(32);
  }

  // .contact__link
  &__link {
    white-space: nowrap;
    font-size: rem(18);
    line-height: prc(22, 18);
    color: $white-100;
    transition: color 0.3s ease;

    @media (any-hover: hover) {
      &:hover {
        color: $blue-100;
      }
    }
  }
}
// ======================================================================================================================================================== //
.button {
  display: inline-flex;
  justify-content: center;
  padding: rem(10) rem(15);
  font-size: rem(18);
  font-weight: 500;
  border-radius: rem(8);
  line-height: prc(22, 18);
  text-align: center;
  color: $white-100;
  background-color: $blue-100;
  transition: background-color 0.3s ease, color 0.3s ease;

  @media (any-hover: hover) {
    &:hover {
      background-color: $blue-hover;
    }

    &:active {
      background-color: $blue-dark;
    }
  }
}
