@keyframes show-header {
  0% {
    top: -100%;
  }
  100% {
    top: 0;
  }
}

@keyframes fade-up-big {
  0% {
    transform: translateY(2rem);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}