$maxWidth: 1920; // максимальная ширина страницы
$minWidth: 320; // минимальная ширина телефона
$maxWidthContainer: 1230; // ширина контейнера с учетом padding слева и справа
$containerWidth: 1200; // ширина контейнера из макета

$mainOffset: 15; // отступы безопасности для контейнера
$mainFont: 'Exo2'; // !указать здесь основное семейство шрифта
$mainWeight: 400; // !указать здесь основное начертание шрифта

$header-height: 80;
$footerHeight: 100;

$main-radius: rem(10);

$red-error: #fa7c7c;
$white-100: #fff;
$black-80: #333;
$black-25: #bfbfbf;
$black-10: #e6e6e6;
$black-5: #f2f2f2;
$blue-dark: #22374d;
$blue-100: #396798;
$blue-hover: #4589cc;
$blue-disable: #53687f;
$blue-15: #e1e8f0;
$blue-5: #f5f7fa;

$firstAccentColor: $blue-100;
$secondAccentColor: $red-error;

$fontFamily: $mainFont, sans-serif; // Семейство шрифта по умолчанию
$fontColor: $black-80; // Цвет шрифта по умолчанию
$fontSize: 16; // Размер шрифта по умолчанию
$fontWeight: $mainWeight; // Жирность шрифта по умолчанию

$default-trans: all 280ms ease-in-out 0ms;

$btnBoxShadow: 0px 2px 3px rgba(#000, 10%), 0px 8px 3px rgba(#000, 10%);

$lightBoxShadow: 0 0 2px 0 rgba(#000, 10%), 0 0 4px 0 rgba(#000, 10%),
  0 0 8px 0 rgba(#000, 10%);

$hoverBoxShadow: 0 0 5px 0 rgba(#000, 10%), 0 0 10px 0 rgba(#000, 10%),
  0 0 15px 0 rgba(#000, 10%);